menu "RISC-V 64 configs"

config RISCV_S_MODE
    bool "RT-Thread run in RISC-V S-Mode(supervisor mode)"
    default y

config RISCV_DEFINE_PLIC_OFFSET
    bool "define hartid to plic num mapping function"
    default y

choice
    prompt "Choose Board"

    default BSP_USING_VF2

    config BSP_USING_VF2
        bool "visionfive v2 board"

    config BSP_USING_DEVKITS
        bool "devkits board"

endchoice

endmenu
