menu "General Drivers Configuration"

config BSP_USING_GMAC
    bool "Enable gmac driver"
    default n
    select RT_USING_GMAC
    if BSP_USING_GMAC
    config BSP_USING_GMAC0
        bool "Enable gmac0"
        default n
    config BSP_USING_GMAC1
        bool "Enable gmac1"
        default n
    config GMAC_DEBUG
        bool "enable GMAC debug print"
	default n
    endif

config BSP_USING_CAN
    bool "Enable can driver"
    default n
    select RT_USING_CAN
    select RT_CAN_USING_CANFD
    if BSP_USING_CAN
    config BSP_USING_CAN0
        bool "Enable CAN 0"
        default n
    config BSP_USING_CAN1
        bool "Enable CAN 1"
        default n
    endif

config BSP_USING_PCIE
    bool "Enable pcie driver"
    default n
    if BSP_USING_PCIE
    config BSP_USING_PCIE0
        bool "Enable pcie 0"
        default n
    config BSP_USING_PCIE1
        bool "Enable pcie 1"
        default n
    endif

config BSP_USING_SPI
    bool "Enable spi driver"
    default n
    select RT_USING_SPI

source "../libraries/driver/pcie/Kconfig"

endmenu

